<!DOCTYPE html>
<html>
      <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
      <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.8/dist/js/tabulator.min.js"></script>

    {%extends 'base.html'%}
    {%block content%}
<body>

      <div class="contianer is-fluid mt-5 mb-5">
        <div class="columns">
          <div class="column">
          </div>
          <div class="column is-half">
            <div class="card">
                <div class="card-content">
                  <p class="title has-text-centered pb-2">
                    Real-Time Crypto Dashbaord
                  </p>
                  <p class="subtitle has-text-centered ">
                    This Dashboard utilizes  the <a class ="custom_bright_blue"  href="https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/realtime/" target="_blank" rel="noopener noreferrer">Alpaca Crypto Data API</a>  and a JavaScript library <a class ="custom_bright_blue"  href="https://www.tradingview.com/lightweight-charts/" target="_blank" rel="noopener noreferrer">Lightweight Charts</a>. </br>
                    First I subscribe to and authenticate the websocket that is recieved from the API call. 
                    I parse the data into Quotes, Trades, and Bars, which is used to populate the chart and tile objects.
                    I grab the last hour of historical data to populate the Chart before streaming begins.
                  </p></br>
                    <h2 class="has-text-centered title">
                      Technical Skills 
                    </h2>
                    <div class= "has-text-centered">
                      <span class="button custom_bright_blue custom_bg_black is-outlined is-medium">WebSockets </span>  
                      <span class="button custom_bright_blue custom_bg_black is-outlined  is-medium">Javascript</span>    
                      <span class="button custom_bright_blue custom_bg_black is-outlined is-medium">Python </span>          
                      <span class="button custom_bright_blue custom_bg_black is-outlined is-medium">Flask </span>    
                      <span class="button custom_bright_blue custom_bg_black is-outlined  is-medium">Data Parsing </span>
                      <span class="button custom_bright_blue custom_bg_black is-outlined  is-medium">Data Visualization</span>  
                    </div>
                        

                </div>
              </div>
            </div>
          <div class="column">
          </div>
        </div>
      </div>
        <div class="tile is-ancestor" >
          <div class="tile is-parent">
              <div class="tile is-child box level" id="chart">
                <h1 class="notification title is-4 has-text-weight-semibold has-background-dark  has-text-centered is-4 level-item mb-4">ETH USD<span class="ml-4 dot"></span></h1>
                <i class="fas fa-info-circle"></i>
                <h2 class=" ml-6">SMA10 
                  <span class="ml-4"> 
                  <svg width="20" height="10">
                    <rect width="20" height="15" style="fill:#245BA9;" />
                  </svg>
                </span>
              </h2>
                <div id="table-data">
                </div>
              </div>
            </div>
          <div class="tile is-6 is-vertical is-parent">
            <div class="tile is-child box">
              <h1 class="notification   has-background-dark title is-4 has-text-weight-semibold  has-text-centered">TRADES</h1>

              <div id="trades" class="datapanel  has-text-centered">
                <div class="columns ">
                  <div class="column">
                    <h1 class="notification  has-background-dark has-text-centered">Time-Stamp</h1>
                    <ul id="Trade-Time">
                   <!-- data gets loaded here with javascript -->
                    </ul>

                  </div>
                  <div class="column" >
                    <h1 class="notification  has-background-dark has-text-centered">Price (USD)</h1>
                    <ul id="Trade-Price">
                    <!-- data gets loaded here with javascript -->
                    </ul>

                  </div>
                  <div class="column" >
                    <h1 class="notification has-background-dark has-text-centered">Size</h1>
                    <ul id="Trade-Size">
                    <!-- data gets loaded here with javascript -->
                    </ul>
                  </div>
                </div>
              </div>                
            </div>
            <div class="tile is-child box">
              <h1 class="notification title is-4 has-text-weight-semibold has-background-dark has-text-centered">QUOTES</h1>
              <div id="Quotes" class="datapanel  has-text-centered">
                <div class="columns">
                  <div class="column" >
                    <h1 class="notification  has-background-dark has-text-centered">Time-Stamp</h1>
                    <ul id="Quote-Time">  
                    <!-- data gets loaded here with javascript -->
                    </ul>
                  </div>
                  <div class="column" >
                    <h1 class="notification  has-background-dark has-text-centered">Bidding Price (USD)</h1>
                    <ul id="Quote-AskPrice">
                    <!-- data gets loaded here with javascript -->
                    </ul>

                  </div>
                  <div class="column" >
                    <h1 class="notification  has-background-dark has-text-centered">Asking Price (USD)</h1>
                    <ul id="Quote-BidPrice">
                    <!-- data gets loaded here with javascript -->
                    </ul>

                  </div>
                </div>
              </div>         
            </div>
          </div>
        </div>
      <script src="{{ url_for('static', filename='/js/cryptocharting.js') }}"></script>


</body>
{%endblock%}
</html>