.nav-item{
    padding-left: 2%;
    padding-right: 2%;
}

.myname {
    font-size: 40px;
    padding-left: 6%;
    /* color: white; */
    align-items: center;
}

.nav_font {
    font-size: 30px;
    /* color: white; */
}

.p{
    font-family: 'Manrope', sans-serif;
}

.navbar-end{
    margin-right: 20%;
}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1CB4E9; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    line-height: normal;
    animation: 
      typing 2.75s steps(44, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1CB4E9; }
  }
  
  .dot {
    height: 15px;
    width: 15px;
    background-color: #EF5350;
    border-radius: 50%;
    display: inline-block;
  }
  