.nav-item{
    padding-left: 2%;
    padding-right: 2%;
}

.myname {
    font-size: 40px;
    padding-left: 6%;
    /* color: white; */
    align-items: center;
}

.nav_font {
    font-size: 30px;
    /* color: white; */
}

.p{
    font-family: 'Manrope', sans-serif;
}

.navbar-end{
    margin-right: 20%;
}

#navbar{
  background: #0C1115;
  border: none;
}
.custom_bg_black{
  background: #0C1115;
}
.custom_bright_blue{
  color: #04E9F3;

}

.custom_dark_blue{
  background: #245BA9;
}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1CB4E9; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    line-height: normal;
    animation: 
      typing 2s steps(44, end),
      blink-caret .7s step-end infinite;
  }
  .raise{
    position:relative;
     left:65px;
     top:-100px;
  }
  /* #logo-img{
    width:20%;
    height:100%;
  } */
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1CB4E9; }
  }


  .dot {
    height: 15px;
    width: 15px;
    background-color: #EF5350;
    border-radius: 50%;
    display: inline-block;
  }
  
  #rectangle{
    width:20px;
    height:10px;
    background:rgba(4, 111, 232, 1);
}
#main-back{
  background: url("/static/img/mainbackground/4x/latptop.png") no-repeat fixed center;
  background-color: #0C1115;
  background-size:contain;
  background-attachment:scroll;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
}