{%extends 'base.html'%}
{%block content%}
<!-- <div class = "contianer  is-centered ">
    <iframe width="30%" height="10%" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/680820350&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/angel9ninja" title="MENGO" target="_blank" style="color: #cccccc; text-decoration: none;">MENGO</a> · <a href="https://soundcloud.com/angel9ninja/ikigai" title="ikigai" target="_blank" style="color: #cccccc; text-decoration: none;">ikigai</a></div>
</div> -->

<section class="hero is-fullheight custom_bg_black" >
    <div class="columns mt-6 ">
        <div class="column "></div>
        <div class="column ">
            <div class="content is-medium">
                <h1 class="">Hi, I'm Angel!</h1>
                <p> I'm a Software Engineer based in Austin, Texas. I love to solve complex problems programatically, automate tasks, and produce music!</p>
                <p>My professional experience consist of working as a Full Stack Software Engineer at 
                    <a href="https://www.propago.com/" target="_blank" rel="noopener noreferrer">The Propago Platform</a>, and as a Data Analsyt at 
                    <a href="https://www.ey.com/en_us" target="_blank" rel="noopener noreferrer">Ernst & Young</a>
                </p>
                <p>
                    As a Full Stack Software engineer I utilized
                    <span class="tag is-medium">C#</span>  
                    <span class="tag is-medium">SQL</span>    
                    <span class="tag is-medium">Javascript</span>          
                    <span class="tag is-medium">HTML5</span> 
                    <span class="tag is-medium">CSS</span>
                </p>
                    As a Data Analyst I utilized
                    <span class="tag is-medium">Python</span>  
                    <span class="tag is-medium"> C#</span>    
                    <span class="tag is-medium">VBA</span>          
                    <span class="tag is-medium">SQL</span> 
                    <span class="tag is-medium">NoSql</span>
                </p>


              </div>
        </div>
        <div class="column">
            <figure class="image" >
                <img class="is-rounded" style="max-width:500px;min-width: 250px;" src="/static/img/portrait.jpg">
              </figure>
        </div>
        <div class="column"></div>
    </div>
</section>
{%endblock%}