<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container is-vcentered is-half">
      <figure class="image is-96x96 " style= "margin-left: 40%; padding-top: .5%;">
        <img  src="/static/img/4x/Asset 1@4x.png">
      </figure>
    </div>  

    <div class ="container navbar-end auto">
      <a class="navbar-item nav_font" href="{{ url_for('about')}}">About</a>
      <a class="navbar-item nav_font" href="{{ url_for('portfolio')}}">Projects</a>
      <a class=" navbar-item nav_font" href="{{ url_for('contact')}}">Contact</a>
    </div>
  </nav>