{%extends 'base.html'%}
{%block content%}
<div class="container">
  <section class="section is-medium">
    <h1 class="title has-text-centered">Projects</h1>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered pb-2">
              Crypto Data Visualization
            </p>
            <p class="subtitle has-text-centered ">
              This visualization utilizes  the <a href="https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/realtime/">Alpaca Crypto Data API</a>  and a JavaScript library <a href="https://www.tradingview.com/lightweight-charts/">Lightweight Charts</a>.
              <img>
              Parsing and Visualizing Data, API's, WebSockets, Javascript 
              
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                View on <a href="https://github.com/AngelSantiagoAcosta/">Github</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                Share on <a href="#">Facebook</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered pb-2">
              Crypto Data Visualization
            </p>
            <p class="subtitle has-text-centered ">
              This visualization utilizes  the <a href="https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/realtime/">Alpaca Crypto Data API</a>  and a JavaScript library <a href="https://www.tradingview.com/lightweight-charts/">Lightweight Charts</a>. </br>
              First I subscribe to and authenticate the websocket that is recieved from the API call. The data begins streaming in and then I parse the data.
              I split the data into Quotes, Trades, and Buys, which is then used to populate the chart and tile objects.
              Another note is that I grab the last hour of historical data to populate the Chart before streaming begins. 
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                View on <a href="https://github.com/AngelSantiagoAcosta/">Github</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                Share on <a href="#">Facebook</a>
              </span>
            </p>
          </footer>
        </div>
      </div>




  </section>
</div>

{%endblock%}