{%extends 'base.html'%}
{%block content%}
<div class="container">
  <section class="section is-medium">
    <h1 class="title has-text-centered">Projects</h1>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered pb-2">
              Crypto Data Visualization
            </p>
            <p class="subtitle has-text-centered ">
              This visualization utilizes  the <a class ="custom_bright_blue" href="https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/realtime/"  target="_blank" rel="noopener noreferrer">Alpaca Crypto Data API</a>
                and a JavaScript library <a class ="custom_bright_blue" href="https://www.tradingview.com/lightweight-charts/"  target="_blank" rel="noopener noreferrer">Lightweight Charts</a>.
              <img>
              Parsing and Visualizing Data, API's, WebSockets, Javascript 
              
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
                 <a class="button" href="https://github.com/AngelSantiagoAcosta/"  target="_blank" rel="noopener noreferrer">
                    <span class="icon">
                      <ion-icon name="logo-github" size="large"></ion-icon>
                    </span>
                    <span> GitHub </span>
                  </a>
            </p>
            <p class="card-footer-item">
              <a class="button " href="{{ url_for('crypto')}}">
                <span class="icon">
                  <ion-icon name="code-working-outline" size="large"></ion-icon>
                </span>
                <span> Live Project </span>
              </a>
            </p>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered pb-2">
              Crypto Data Visualization
            </p>
            <p class="subtitle has-text-centered ">
              This visualization utilizes  the <a class ="custom_bright_blue" href="https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/realtime/"  target="_blank" rel="noopener noreferrer">Alpaca Crypto Data API</a>
                and a JavaScript library <a class ="custom_bright_blue" href="https://www.tradingview.com/lightweight-charts/"  target="_blank" rel="noopener noreferrer">Lightweight Charts</a>.
              <img>
              Parsing and Visualizing Data, API's, WebSockets, Javascript 
              
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
                 <a class="button" href="https://github.com/AngelSantiagoAcosta/"  target="_blank" rel="noopener noreferrer">
                    <span class="icon">
                      <ion-icon name="logo-github" size="large"></ion-icon>
                    </span>
                    <span> GitHub </span>
                  </a>
            </p>
            <p class="card-footer-item">
              <a class="button " href="{{ url_for('crypto')}}">
                <span class="icon">
                  <ion-icon name="code-working-outline" size="large"></ion-icon>
                </span>
                <span> Live Project </span>
              </a>
            </p>
          </footer>
        </div>
      </div>
      </div>
  </section>
</div>
{%endblock%}