{%extends 'base.html'%}
{%block content%}
<!-- <div class = "contianer  is-centered ">
    <iframe width="30%" height="10%" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/680820350&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/angel9ninja" title="MENGO" target="_blank" style="color: #cccccc; text-decoration: none;">MENGO</a> · <a href="https://soundcloud.com/angel9ninja/ikigai" title="ikigai" target="_blank" style="color: #cccccc; text-decoration: none;">ikigai</a></div>
</div> -->

<section class="hero is-half custom_bg_black" >
    <div class="columns mt-6 ">
        <div class="column "></div>
        <div class="column ">
            <div class="content is-medium">
                <h1 class="">Hi, I'm Angel!</h1>
                <p> I'm a software engineer based in Austin, Texas. I love to solve complex problems programatically, automate tasks, and produce music!</p>
                <p>My professional experience consist of working as a Full Stack Software Engineer at 
                    <a href="https://www.propago.com/" target="_blank" rel="noopener noreferrer">The Propago Platform</a>, and as a Data Analsyt at 
                    <a href="https://www.ey.com/en_us" target="_blank" rel="noopener noreferrer">Ernst & Young</a>
                </p>
                <p>
                    As a Full Stack Software engineer I utilized
                    <span class="tag is-medium">C#</span>  
                    <span class="tag is-medium">SQL</span>    
                    <span class="tag is-medium">Javascript</span>          
                    <span class="tag is-medium">HTML5</span> 
                    <span class="tag is-medium">CSS</span>
                </p>

                    As a Data Analyst I utilized
                    <span class="tag is-medium">Python</span>  
                    <span class="tag is-medium"> C#</span>    
                    <span class="tag is-medium">VBA</span>          
                    <span class="tag is-medium">SQL</span> 
                    <span class="tag is-medium">NoSql</span>
                </p>


              </div>
        </div>
        <div class="column">
            <figure class="image" >
                <img class="is-rounded" style="max-width:500px;min-width: 250px;" src="/static/img/portrait.jpg">
              </figure>
        </div>
        <div class="column  "></div>
    </div>
</section>
<section class="hero is-half  mt-6" >
    
    <div class="columns">
        <div class="column"></div>
        
        <div class="column is-half">
            <p class="title has-text-centered mt-6">
                My Hobbies
              </p>
            <div class="tabs is-medium is-centered is-fullwidth">
                <ul>
                <li class="is-active " data-target="producing-music">
                    <a>
                    <span class="icon is-small custom_bright_blue"><ion-icon name="musical-notes-outline"></ion-icon></span>
                    <span class="custom_bright_blue">Producing Music</span>
                    </a>
                </li>
                <li data-target="hiking">
                    <a>
                    <span class="icon is-small"><ion-icon name="trail-sign-outline"></ion-icon></span>
                    <span>The Outdoors</span>
                    </a>
                </li>
                <li data-target="fishing">
                    <a>
                    <span class="icon is-small"><ion-icon name="fish-outline"></ion-icon></span>
                    <span>Fishing</span>
                    </a>
                </li>
                <li data-target="wake-surfing">
                    <a>
                    <span class="icon is-small"><ion-icon name="boat-outline"></ion-icon></span>
                    <span>Wake-Surfing</span>
                    </a>
                </li>
                </ul>
            </div>

            <div id="tab-content">
                <div class="content has-text-centered is-large"id = "producing-music">
                    <p> I have been producing music for 10 years </br>
                        I mainly produce electronic music with a trap/hip-hop/lofi influence. </br>
                        My all-time favourite artist is <a href="https://www.youtube.com/watch?v=5yYMicbSf98" target="_blank" rel="noopener noreferrer"></a><strong>Nujabes</strong></a> who I have admired since middle school. </br> </br>
                    
                        If you have a moment check out my SoundCloud!
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/337855192&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/angel9ninja" title="MENGO" target="_blank" style="color: #cccccc; text-decoration: none;">MENGO</a> · <a href="https://soundcloud.com/angel9ninja/foya" title="foya" target="_blank" style="color: #cccccc; text-decoration: none;">foya</a></div>
                </div>
                <div id = "hiking" class="is-hidden content has-text-centered is-large">
                    <p> I love being in nature and experiencing the outdoors.</br>
                        I like to spend time near water and anywhere whith a good view!</p>

                                                       <!-- Swiper -->
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="/static/img/hobbies/4x/Asset 20@4x.png"></div>
                                    <div class="swiper-slide"><img src="/static/img/hobbies/4x/Asset 21@4x.png"></div>
                                    <div class="swiper-slide"><img src="/static/img/hobbies/4x/Asset 22@4x.png"></div>
                                    <div class="swiper-slide"><img src="/static/img/hobbies/4x/Asset 23@4x.png"></div>
                                    <div class="swiper-slide"><img src="/static/img/hobbies/4x/Asset 24@4x.png"></div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
  
   
                </div>
                <div id = "fishing" class="is-hidden content has-text-centered is-large">
                    <p>  fishing is one of my favourite pastimes.</br>
                        my all time favourite fishing activity is spear fishing!</p>
                </div>
                <div id = "wake-surfing" class="is-hidden content has-text-centered is-large">
                    <p>  I grew up on the water and my favrouite watersport is Wake-Surfing </p>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</section>
{%endblock%}